*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', sans-serif;
  }

.form-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
  }
  
  .form-inputs {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
    display:flex;
    flex-direction:column;
  }
  
  label {
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-right: 0.25em;
    color: #222;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
    margin-bottom: 0.5rem;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }
  
  .AddBtn {
    color:white;
    background-color: rgb(185, 76, 76);
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    border:none;
    cursor: pointer;
  }
  
  .AddBtn:hover {
    background-color: rgb(197, 124, 124);
    transition: all 0.2s ease-out;
  }

  output {
      padding: 20px 40px;
  }